.btn-acao{
    margin: 20px 20px 0px 20px;
    min-width: 100px;
}

.centralizado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-react-quill {
  max-height: 300px; /* Defina a altura máxima desejada */
  height: auto;
}

.asterisk {
  color: red;
}